body {

  main {
    overflow: hidden;
  }

  .jumbotron {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 20px 0  0;
    background: #000;

    @include media-breakpoint-down(md) {
      padding: 90px 0 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 75px 0 0;
    }

    @include media-breakpoint-down(xs) {
      padding: 0;
    }

    &:before {
      content:'';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -380px;
      width: 1376px;
      height: 589px;
      background: url(../img/svg/bg1.svg) no-repeat;
      background-size: 100% 100%;

      @include media-breakpoint-down(sm) {
        width: 100%;
        height: 100%;
        right: 0;
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      min-width: 1440px;
      background: url(../img/svg/line.svg) no-repeat;
      background-size: 100%;
      background-position: center;
      z-index: 0;
    }

    .container {
      position: relative;
      min-height: 705px;
      display: flex;
      align-items: center;

      @include media-breakpoint-down(lg) {
        min-height: 610px;
      }

      @include media-breakpoint-down(sm) {
        min-height: 390px;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -90px;
        width: 514px;
        height: 648px;
        background: url(../img/gleb.png);
        background-size: 100% 100%;
        z-index: 1;

        @include media-breakpoint-down(lg) {
          width: 420px;
          height: 530px;
          //right: -10px;
        }

        @include media-breakpoint-down(sm) {
          //display: none;
          width: 294px;
          height: 371px;
          right: -130px;
        }
      }
    }

    .wrapper {
      position: relative;

      &:before {
        content:'';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -90px;
        width: 707px;
        height: 303px;
        background: url(../img/svg/bg2.svg) no-repeat;
        background-size: 100% 100%;

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }

    .text {
      position: relative;
      z-index: 2;
    }

    h1 {
      font-family: Montserrat-Bold;
      font-size: 64px;
      text-transform: uppercase;
      letter-spacing: .07em;
      line-height: 90px;
      color: $white;
      padding-bottom: 35px;
      padding-top: 100px;

      @include media-breakpoint-down(lg) {
        font-size: 54px;
        line-height: 65px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 25px;
        line-height: 35px;
      }
    }

    p {
      font-family: Montserrat-Regular;
      font-size: 24px;
      letter-spacing: .07em;

      @include media-breakpoint-down(sm) {
        font-size: 20px;
      }

      b {
        font-family: Montserrat-Bold;
      }

      &.blue {
        color: #00B0FF;
      }

      &.red {
        color: #FF1744;
      }

      &.with-brackets {
        position: relative;
        display: inline-block;

        &:before {
          content: '';
          position: absolute;
          top: 7px;
          left: -40px;
          width: 9px;
          height: 23px;
          background: url(../img/svg/bracket.svg) no-repeat;
          background-size: 100% 100%;
          transform: rotate(180deg);

          @include media-breakpoint-down(lg) {
            left: -20px;
          }

          @include media-breakpoint-down(sm) {
            left: -8px;
            top: 4px;
          }
        }

        &:after {
          content: '';
          position: absolute;
          top: 7px;
          right: -40px;
          width: 9px;
          height: 23px;
          background: url(../img/svg/bracket.svg) no-repeat;
          background-size: 100% 100%;

          @include media-breakpoint-down(lg) {
            right: -20px;
          }

          @include media-breakpoint-down(sm) {
            right: -8px;
            top: 4px;
          }
        }
      }
    }
  }

  .about {

    .subtitle {
      padding-bottom: 30px;
    }

    .wrapper {
      &-white {
        padding: 70px 0;

        @include media-breakpoint-down(sm) {
          padding: 30px 0;
        }

        .title {
          padding-bottom: 15px;
        }

        .italic {
          font-size: 18px;
          letter-spacing: .05em;
          line-height: 28px;
          padding-bottom: 45px;

          @include media-breakpoint-down(sm) {
            padding-bottom: 10px;
          }
        }

        .prop {
          position: relative;
          padding-left: 95px;

          @include media-breakpoint-down(sm) {
            text-align: center;
            padding-left: 75px;
          }

          p {
            font-family: Montserrat-Regular;
            font-size: 14px;
          }

          img {
            position: absolute;
            left: 15px;
            top: 10px;
          }
        }
      }

      &-grey {
        background: #FAFAFA;
        padding: 70px 0;

        @include media-breakpoint-down(sm) {
          padding: 30px 0;
        }

        .blocks-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          @include media-breakpoint-down(md) {
            flex-wrap: wrap;
            justify-content: center;
          }

          .block {
            display: flex;
            align-items: center;
            text-align: center;
            height: 170px;
            margin: 0 15px;
            background: #322B54;

            @include media-breakpoint-down(md) {
              flex-basis: 45%;
              flex-grow: 0;
              margin: 10px 15px;
            }

            @include media-breakpoint-down(sm) {
              flex-basis: 100%;
              max-width: 240px;
            }

            p {
              font-family: Montserrat-Medium;
              font-size: 12px;
              line-height: 20px;
              color: $white;
              margin: 0;
            }
          }
        }

        .italic {
          font-size: 18px;
          text-align: center;
          padding-top: 40px;

          @include media-breakpoint-down(sm) {
            padding-top: 10px;
          }
        }
      }
    }
  }

  .about-2 {
    padding: 70px 0 150px;

    @include media-breakpoint-down(sm) {
      padding: 30px 0;
    }

    .title {
      padding-bottom: 90px;

      @include media-breakpoint-down(sm) {
        padding-bottom: 30px;
      }
    }

    .col-sm-6 {
      flex-grow: 1;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 30px 20px;
      background: #311B92;
      border: 1px solid #161742;
      color: $white;

      @include media-breakpoint-down(md) {
        text-align: center;
        align-items: center;
        margin: 10px 0;
      }

      @include media-breakpoint-down(xs) {
        text-align: left;
        align-items: flex-start;
      }

      .upper-block {
        flex-grow: 1;
      }

      .block-title {
        font-family: Montserrat-ExtraBold;
        font-size: 18px;
        letter-spacing: .05em;
        color: #00B0FF;
        text-transform: uppercase;
        padding-bottom: 16px;
      }

      .block-content {
        max-width: 353px;
        color: #F2F2F2;
        font-family: Montserrat-Medium;
        font-size: 14px;
        letter-spacing: .05em;
        line-height: 25px;
      }

      .about-block {
        padding: 40px 0 50px;
        font-family: Montserrat-Bold;
        font-size: 18px;
        color: #FF1744;

        @include media-breakpoint-down(sm) {
          padding: 5px 0 10px;
        }
      }

      .italic {
        font-size: 18px;
        color: #C4C4C4;
      }
    }
  }

  .mentor {
    background: #FAFAFA;

    .container {
      position: relative;
      padding: 70px 0;

      @include media-breakpoint-down(sm) {
        padding: 30px 15px;
      }

      .linkedn {
        margin-left: 30px;

        @include media-breakpoint-down(sm) {
          margin-left: 5px;
        }
      }

      img.mentor-img {
        position: absolute;
        right: -200px;
        bottom: 0;

        @include media-breakpoint-down(lg) {
          width: 450px;
          height: 588px;
          right: -100px;
        }

        @include  media-breakpoint-down(md) {
          right: -150px;
        }

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }

    .title {
      padding-bottom: 80px;

      @include media-breakpoint-down(sm) {
        padding-bottom: 20px;
      }
    }

    .mentor-name {
      font-family: Montserrat-ExtraBold;
      font-size: 48px;
      letter-spacing: .05em;
      color: #000;

      @include media-breakpoint-down(sm) {
        font-size: 32px;
      }
    }

    .mentor-position {
      color: #9C9C9C;
      padding-top: 10px;
      padding-bottom: 30px;
      font-size: 24px;

      @include media-breakpoint-down(sm) {
        font-size: 18px;
      }
    }

    .mark {
      display: inline-block;
      background: #311B92;
      padding: 6px 15px;
      font-family: Montserrat-ExtraBold;
      font-size: 14px;
      letter-spacing: .05em;
      color: $white;
      margin-bottom: 17px;
    }

    p {
      font-family: Montserrat-Regular;
      color: #000;
      font-size: 14px;
      line-height: 30px;
    }
  }

  .feedback {
    padding: 70px 0 140px;

    @include media-breakpoint-down(sm) {
      padding: 30px 0;
    }

    .feedback-container {
      padding-top: 65px;

      @include media-breakpoint-down(sm) {
        padding-top: 30px;
      }
    }

    .mark {
      display: inline-block;
      background: #311B92;
      padding: 6px 15px;
      font-family: Montserrat-ExtraBold;
      font-size: 14px;
      letter-spacing: .05em;
      color: $white;
      margin-bottom: 17px;

      @include media-breakpoint-down(sm) {
        font-size: 13px;
      }
    }

    .feedback-content {
      font-family: Montserrat-Regular;
      font-size: 14px;
      line-height: 30px;
      letter-spacing: 0;

      @include media-breakpoint-down(sm) {
        font-size: 13px;
      }
    }

    .feedback-author {
      font-size: 18px;
      letter-spacing: .05em;
      color: #6B6B6B;
    }
  }

  .contacts {
    background: #311B92;
    padding: 70px 0;

    @include media-breakpoint-down(sm) {
      padding: 30px 0;
    }

    .title {
      padding-bottom: 70px;

      @include media-breakpoint-down(sm) {
        padding-bottom: 20px;
      }
    }

    .row {
      align-items: flex-end;
    }

    a {
      font-family: Montserrat-Regular;
      font-size: 18px;
      letter-spacing: .05em;
      color: #FAFAFA;
      text-decoration: none;
      line-height: 30px;

      @include media-breakpoint-down(xs) {
        font-size: 16px;
      }
    }
  }
}