@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 23, 68, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 23, 68, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 23, 68, 0);
    box-shadow: 0 0 0 10px rgba(255, 23, 68, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rrgba(255, 23, 68, 0);
    box-shadow: 0 0 0 0 rgba(255, 23, 68, 0);
  }
}