h1.title {
  font-family: Montserrat-Bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #311B92;
  letter-spacing: .15em;

  &.white {
    color: $white;
  }

  @include media-breakpoint-down(sm) {
    font-size: 22px;
  }
}

.block-title {

}

.subtitle {
  font-family: Montserrat-ExtraBold;
  color: #000;
  font-size: 14px;
  letter-spacing: .05em;
}

.italic {
  font-family: Lora-Italic;

  b {
    font-family: Lora-BoldItalic;
  }
}

.wrapper-blue {
  background: #311B92;
}

.container {

  @media (min-width: 992px) {
    max-width: 970px;
  }
}

.participate {
  position: fixed;
  right: 40px;
  bottom: 80px;
  background: #FF1744;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  box-shadow: 0px 20px 35px rgba(255, 23, 68, 0.1);
  color: $white;
  border-radius: 50px;
  transition: all .3s ease;
  animation: pulse 1.2s infinite;
  z-index: 1000;
  font-family: Montserrat-SemiBold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .12em;

  @include media-breakpoint-down(sm) {
    width: 180px;
    height: 40px;
    line-height: 40px;
    right: 20px;
    bottom: 70px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 10px;
    width: 150px;
    height: 35px;
    line-height: 35px;
    right: 10pxS;
  }

  &:hover {
    animation: none;
    text-decoration: none;
    color: $white;
  }
}