@mixin font($alias, $name, $fw: normal, $fs: normal) {
  @font-face {
    font-family: $alias;
    src: url("../fonts/" + $name + ".otf");
    src: url("../fonts/" + $name + ".eot?#iefix") format("embedded-opentype"),
      //url("../fonts/" + $name + ".woff") format("woff"),
    url("../fonts/" + $name + ".ttf") format("truetype");
    //font-weight: lighter;
    //font-style: $fs;
  }
}

@mixin offset-modified-1() {
  margin-left: 16.54%;

  @media(max-width: $max-xl) {
    margin-left: 14.94%;
  }

  @media (max-width: $max-lg) {
    margin-left: 14.48%;
  }
}

@mixin offset-modified-2() {
  margin-left: 6.8%;

  @media (max-width: $max-lg) {
    margin-left: 0;
  }
}


@mixin offset-modified-3() {
  margin-left: 150px;

  @media (max-width: $max-xl) {
    margin-left: 6%;
  }


  @media (max-width: $max-lg) {
    margin-left: 0;
  }
}

