<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="copyright">© Всі права захищено. Розробка <a href="https://catlab.agency/" target="_blank" class="catlab"><img src="catlab.svg" alt=""></a></div>
            </div>
        </div>
    </div>
</footer>
<a href="https://fondexx.com/" target="_blank" class="participate">Принять участие</a>
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/all.js"></script>
