<header class="header">
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="navbar-brand" href="#"><img src="img/svg/logo.svg" alt=""></a>
            </div>
        </div>
    </div>
</header>